body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: #608dfd;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #608dfd;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
 
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}

.navbar{
  /* background-color: black; */
  height: 40px;


}

.navbar-brand {
  fill: white;
}

.navbar-toggler{
  justify-content: center;
}

.navbar.second-navbar {
  margin-top: 35px;
  z-index:0;
  
}

.rounded-button {
  border-radius: 20px;
  background-color: #343a40; 
  color: black;
 border-color: #343a40;
 

}

.rounded-button:hover {
  background-color: #343a40;
  color: white;
  border-color: #343a40;
}

.black-text {
  color: black;

  font-weight: 500;
}

.header-content{
  margin-top: 200px;
}

.p .h1{
  vertical-align: top;
}


.btn-dark.rounded-button {
        background-color: black;
        color: white;
    }
    
 .btn-dark.rounded-button:hover {
        background-color: black; 
        color: white; }
    

  
 .bold-heading {

          color: black;
          font-weight: 500;

     }

     .card-link {
      color: rgb(0, 102, 255) !important;
      
    }

    .custom-font-weight {
      font-weight: bold;
  }

  .custom-card-text {
      font-weight: 500;
  }

  .orange-text {
    color: orange;
    font-weight: bold;
}

.list-group-item {
  font-weight: 600;
}


.custom-bg-color {
  background-color: rgb(230, 230, 240);
}

.center {
  display: flex;
  justify-content: center;
}

.content {
  text-align: left;}

  .navbar-brand-svg {
    margin-left: 100px;
  }

  .dropdown-menu ul {
    list-style: none;
    padding: 0;
  }

  .dropdown-menu.show {
    display: flex;
  }

  .dropdown-menu li:first-child a {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #0a0a0a;
  }

  .dropdown-menu li .dropdown-item {
    color: gray;
    font-size: 1em;
    padding: 0.5em 1em;
  }

  .dropdown-menu {
    border: none;
    border-radius: 0;
    padding: 0.7em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  @media only screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
      display: flex;
    }
    .dropdown-menu.show {
      display: flex;
    }
  }